{% extends "layouts/meetings.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    <span class="govuk-caption-l">Meeting</span>
    <h2 class="govuk-heading-l">Quarterly planning meeting</h2>
<p class="govuk-body-s" style="
    margin-top: -20px;
    font-style: italic;
    color: #494949;
">Transcribed 06 March 2027, 15:32</p>

{% set summaryHtml %}

<div style="text-align: center;">
    <br>
    <p>You haven't generated any summaries yet.</p>
    <button type="submit" class="govuk-button" command="show-modal" commandfor="modal-generate">
      Generate a summary
    </button>
</div>

<dialog id="modal-generate" style="margin: 10% auto;max-width: 600px;">


  <label class="govuk-label govuk-label--s" for="template">
    1. Choose a summary template
  </label>
  <div id="agenda-hint" class="govuk-hint">
    This will be used to structure the meeting summary.
  </div>
  <select class="govuk-select govuk-!-margin-bottom-4" id="template" name="sort">
    <option value="general" selected="">General summary (default)</option>
    <option value="cabinet">Cabinet meeting</option>
    <option value="care">Care assessment</option>
    <option value="delivery">Delivery meeting</option>
    <option value="exec">Executive summary</option>
    <option value="planning">Planning comittee meeting</option>
  </select>

  {{ govukTextarea({
    name: "agenda",
    id: "agenda",
    label: {
      text: "2. Add an agenda (optional)",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Add discussion points to include in the meeting summary."
    }
  }) }}

  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Generate summary",
    href: "/meeting#summary",
    classes:"govuk-!-margin-bottom-0"
  }) }}
  
  <button commandfor="modal-generate" command="close" class="govuk-button govuk-button--inverse govuk-link nav-button" style="margin-top: 2px;
    margin-left: 10px;
    font-size: 19px;
    border: 0;">Cancel</button>
</dialog>

<!--
    <ul class="govuk-list" style="display: flex;
    gap: 0 20px;
    padding: 15px 21px 15px 15px;
    margin: -25px -20px 20px -21px;
    justify-content: flex-end;
    border-bottom: 1px solid #cecece;">
      <li class="list govuk-body-s" style="flex-grow: 4; margin: -7px 0 -7px;">
          <label class="govuk-label" for="sort" style="display: none;">Template</label>
          <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 7px; font-size: 16px; height: 2rem; padding: 0 5px; border: 1px solid #0b0b0d;">
            <option value="general" selected="">General summary (default)</option>
            <option value="--">======================</option>
            <option value="cabinet">Cabinet meeting</option>
            <option value="care">Care assessment</option>
            <option value="delivery">Delivery meeting</option>
            <option value="exec">Executive summary</option>
            <option value="general">General summary</option>
            <option value="planning">Planning comittee meeting</option>
          </select>
      </li>
    </ul>

     <h2 class="govuk-heading-m">Generate general summary</h2>  

{{ govukTextarea({
  name: "agenda",
  id: "agenda",
  label: {
    text: "Add meeting agenda (optional)",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Add discussion points to include in the meeting summary."
  }
}) }}

{{ govukButton({
  text: "Generate summary",
  href: "/meeting#summary",
  classes: "govuk-!-margin-bottom-0"
}) }}

 -->


{% endset -%}

{% set transcriptHtml %}
{% include "include-transcript.njk" %}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Transcript",
      id: "transcript",
      panel: {
        html: transcriptHtml
      }
    },
    {
      label: "Summaries",
      id: "summary",
      panel: {
        html: summaryHtml
      }
    }
  ]
}) }}

  </div>

</div>

{% endblock %}
