{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/generic-header/macro.njk" import govukGenericHeader %}

{% block govukHeader %}


{{ govukHeader({
  homepageUrl: "#",
  productName: "Minute"
}) }}

<!--
{% set logoContent %}
DWP Minute
{% endset %}


{{ govukGenericHeader({
  url: "#",
  logoHtml: logoContent
}) }}
-->


{% endblock %}

{% set navigationEnd %}
  <li class="govuk-service-navigation__item account-nav">              
    <a class="govuk-service-navigation__link" href="#"> 
      Your account
    </a>
  </li>
{% endset %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    navigation: [
      {
        href: "/record-source",
        text: "Transcribe"
      },
      {
        href: "/meetings",
        text: "Meetings",
        active: true
      },
      {
        href: "/templates",
        text: "Templates"
      }
    ],
      slots: {
        navigationEnd: navigationEnd
      }
  }) }}


{% endblock %}

{% block govukFooter %}
{% endblock %}